*.pyc
*.o
*.oo
*.ptx
.svn
.hg
*.so
*.so.0
*.a
*.test
*.swp
bridge/numpy/build/*
*~
*.obj
.DS_Store
*.dylib
*.lib
*.dll
*.exp
*.ilk
*.pdb
*.suo
*.gen
*.log
doc/doxygen
*/NumCIL/*/obj/*
*/NumCIL/*/bin/*
*/CIL/*/bin/*
*/CIL/*/obj/*
bridge/NumCIL/NumCIL.Unsafe/Aggregate.cs
bridge/NumCIL/NumCIL.Unsafe/Apply.cs
bridge/NumCIL/NumCIL.Unsafe/Copy.cs
bridge/NumCIL/NumCIL.Unsafe/CreateAccessor.cs
bridge/NumCIL/NumCIL.Unsafe/Pinner.cs
bridge/NumCIL/NumCIL.Unsafe/Reduce.cs
bridge/NumCIL/NumCIL/TypedArrays.cs
include/cphvb_opcode.h
core/cphvb_opcode.c
core/compute/codegen/out
cphvbnumpy/build
OpCodes.cs
OpCodes_fix.tt
Tester.userprefs
OpCodes_fix.cs
cphvb-release
cphVB.zip
