*.pyc
*.o
*.oo
*.ptx
.svn
.hg
*.so
*.so.0
*.a
*.test
*.orig
*.swp
bridge/numpy/build/*
*~
*.obj
.DS_Store
*.dylib
*.lib
*.dll
*.exp
*.ilk
*.pdb
*.suo
*.gen
*.log
doc/doxygen
doc/build
doc/source/users/pythonnumpygen
*/NumCIL/*/obj/*
*/NumCIL/*/bin/*
*/CIL/*/bin/*
*/CIL/*/obj/*
bridge/NumCIL/NumCIL.Unsafe/Aggregate.cs
bridge/NumCIL/NumCIL.Unsafe/Apply.cs
bridge/NumCIL/NumCIL.Unsafe/Copy.cs
bridge/NumCIL/NumCIL.Unsafe/CreateAccessor.cs
bridge/NumCIL/NumCIL.Unsafe/Pinner.cs
bridge/NumCIL/NumCIL.Unsafe/Reduce.cs
bridge/NumCIL/NumCIL/TypedArrays.cs
test/cpp/gtest
test/cpp/bin/*
bridge/cpp/codegen/output/*
bridge/cpp/bin/*
benchmark/c/bin/*
benchmark/cpp/bin/*
include/bh_opcode.h
core/bh_opcode.cpp
core/compute/codegen/out
bohrium/build
OpCodes.cs
OpCodes_fix.tt
Tester.userprefs
OpCodes_fix.cs
bh-release
bh_vem_cluster_slave
*.user
misc/tools/output/*.svg
benchmark/CIL/Csharp/shallow_water/bin
benchmark/CIL/Csharp/shallow_water/obj
*.userprefs
benchmark/CIL/Csharp/nbody/bin
benchmark/CIL/Csharp/nbody/obj
test/CIL/UnitTest/Benchmarks/FSharp/bin
test/CIL/UnitTest/Benchmarks/FSharp/obj
benchmark/CIL/Csharp/blackscholes/bin
benchmark/CIL/Csharp/blackscholes/obj
benchmark/CIL/Csharp/jacobi/bin
benchmark/CIL/Csharp/jacobi/obj
bridge/c/codegen/output/
vem/proxy/bh_proxy_client
bridge/bhpy/bohrium/_info.py
bridge/bhpy/_info.py
bridge/bhpy/bhc.i
bridge/bhpy/bhc.py
bridge/bhpy/bhc_wrap.c
bridge/bhpy/build/
