sudo: false

services:
  - docker

language: c

compiler:
  - gcc

before_install:
  - docker pull bohrium/ubuntu:14.04
  - docker build -t bohrium_release -f package/docker/ubuntu14.04/bohrium.dockerfile .

env:
  global:
      - BH_GPU_VERBOSE=true

  matrix:
      # Default stack
      - BH_STACK=default BH_CPU_JIT_LEVEL=3
      - BH_STACK=default BH_CPU_JIT_LEVEL=1

      # CPU greedy stack
      #      - BH_STACK=stack_cpu_greedy BH_CPU_JIT_LEVEL=3
      #      - BH_STACK=stack_cpu_greedy BH_CPU_JIT_LEVEL=1

      # GPU stack
      - BH_STACK=gpu BH_BCEXP_GPU_REDUCE1D=100

notifications:
  slack: bohrium:BCAEW8qYK5fmkt8f5mW95GUe

script:
    - docker run -t -e BH_STACK -e BH_CPU_JIT_LEVEL -e BH_BCEXP_GPU_REDUCE1D -e BH_GPU_VERBOSE bohrium_release
