[bridge]
type = bridge
children = node

#
# Managers
#
[cluster]
type = vem
children = node
impl = /opt/bohrium/libbh_vem_cluster.so

[node]
type = vem
children = cpu
impl = /opt/bohrium/libbh_vem_node.so

#
# Engines
#
[gpu]
type = ve
ocldir = /opt/bohrium/lib/ocl_source
impl = /opt/bohrium/libbh_ve_gpu.so

[cpu]
type = ve
compiler_cmd="gcc -lm -O3 -march=native -fopenmp -fPIC -std=c99 -x c -shared - -o "
#compiler_cmd="gcc -lm -O2 -march=native -fopenmp -fPIC -std=c99 -x c -shared - -o "
#compiler_cmd="clang -lm -O3 -march=native -fPIC -std=c99 -x c -shared - -o "
#compiler_cmd="/opt/a64/bin/opencc -lm -O2 -fPIC -std=c99 -x c -shared - -o "
object_path=/opt/bohrium/cpu/objects
kernel_path=/opt/bohrium/cpu/kernels
template_path=/opt/bohrium/cpu/templates
impl = /opt/bohrium/libbh_ve_cpu.so

[score]
type = ve
impl = /opt/bohrium/libbh_ve_score.so

[mcore]
type = ve
impl = /opt/bohrium/libbh_ve_mcore.so

[tiling]
type = ve
impl = /opt/bohrium/libbh_ve_tiling.so

#
# Filters
#
[transitive_reduction]
type = filter
impl = /opt/bohrium/libbh_filter_transitive_reduction.so
children = cpu

[power]
type = filter
impl = /opt/bohrium/libbh_filter_power.so
children = cpu

[fusion]
type = filter
impl = /opt/bohrium/libbh_filter_fusion.so
children = cpu

[streaming]
type = filter
impl = /opt/bohrium/libbh_filter_streaming.so
children = cpu

[pprint]
type = filter
impl = /opt/bohrium/libbh_filter_pprint.so
children = cpu
