#[setup]
#bridge = numpy
#log = low
#debug = true

#[numpy]
#type = bridge
#children = node

[bridge]
type = bridge
children = node

[node]
impl = /opt/cphvb/libcphvb_vem_node.so
children = score
type = vem

[simple]
impl = /opt/cphvb/libcphvb_ve_simple.so
type = ve

[score]
impl = /opt/cphvb/libcphvb_ve_score.so
type = ve

[gpu]
impl = /opt/cphvb/libcphvb_ve_gpu.so
type = ve

